.slide-cover-1 {
    background-image: url(./images/cover/cover-1.png);
    height: 80vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.75);
    background-blend-mode: overlay;
}

.slide-cover-2 {
    background-image: url(./images/cover/cover-2.png);
    height: 80vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.75);
    background-blend-mode: overlay;
}

.slide-cover-3 {
    background-image: url(./images/cover/cover-3.png);
    height: 80vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.75);
    background-blend-mode: overlay;
}

.course-image {
    background-image: url(./images/course/course-1.png);
    height: 170px;
    width: 170px;
}